/* ----------- ARCHIVES PAGE ------------- */



.archives-latest-section,
.archives-latest-section ol {
  padding: 10px 0 10px 15px;
}
.archives-latest-section ol li {
  padding-left: 8px;
}

.archives-by-month-section p,
.archives-by-category-section p {
  padding: 15px 0;
}
.archives-by-month-section p a,
.archives-by-category-section p a {
  text-decoration: none;
}

