/* ----------- BLOG POSTS PAGE ------------- */

.entry-dates {
  font-style: italic;
  font-size: $date-size;
  padding-top: 0;
  margin: 10px 0;
}

.previous-next-page {
  text-align: center;
  margin: 50px 0;
}